hr{
    margin-top: 10px; 
    margin-bottom: 15px;
}
/* **************************LOADER***************************** */
#loading{
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index:100000;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.2;
    filter: alpha(opacity=20);  /*For IE8 and earlier */
}

#imgloader{   
    display:none;
    position:fixed;
    display:block;
    z-index:100001;
    width:70px;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
}

/************************UPLOAD FILE**************************** */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.custom-tooltip-styling{
    font-size: 12px;
}


/************************BOTÕES DE AÇÃO**************************** */
.incluir{
    color:  dodgerblue !important;
}
.incluir:hover{
    color: goldenrod !important;
}
.consultar{
    color: darkgreen !important;
}
.consultar:hover{
    color: goldenrod !important;
}
.editar{
    color: darkblue !important;
}
.editar:hover{
    color: goldenrod !important;
}
.especial{
    color: slateblue !important;
}
.especial:hover{
    color: goldenrod !important;
}
.excluir{
    color: red !important;
}
.excluir:hover{
    color: goldenrod !important;
}

.verde{
    color: green !important;
}
.verde:hover{
    color: goldenrod !important;
}

.azul{
    color: darkblue !important;
}
.azul:hover{
    color: goldenrod;
}

.vermelho{
    color: darkred !important;
}
.vermelho:hover{
    color: goldenrod !important;
}

.marron{
    color: chocolate;
}
.marron:hover{
    color: goldenrod;
}

.rosa{
    color: darkorchid;
}
.rosa:hover{
    color: goldenrod;
}
.cyan{
    color: DarkCyan;
}
.cyan:hover{
    color: goldenrod;
}
.steelblue{
    color: steelblue;
}
.steelblue:hover{
    color: goldenrod;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}