
a.imprimir:hover{
    color: darkorange;
}

.imagem{
    border-color: silver;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}

div.especial{
    border-color:  #E6E6E6; 
    border-style: solid; 
    border-width: 2px; 
    border-radius: 6px; 
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    padding: 10px;
    text-align: justify;
    font-family: arial;
    font-size: 14px;
    line-height: 1.5;
}

.imprimir:hover{
    color: orange;
}

p{
    text-indent: 4em;
}
td{
    padding: 5px;
    text-align: justify;
}

th{
    padding: 5px;
}

sub{
    font-size: 70%;
}