body{
    font-family: arial;
    font-size: 12px;
}

.tab1{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse:  collapse;
}

.tab1 td{
    text-align: left;
    border-collapse:  collapse;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

.tab1 th{
    font-size: 14px;
    background-color: #cccccc; 
    border-collapse:  collapse;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

.cabecalho{
    background-color:  #c0c0c0;
    font-weight: bold;
}

.linha{
    background-color:  gainsboro;
}

